/*index.html - Aathif*/

body {
    font-family: Times New Roman;
    margin: 0;
  padding: 0;
}

.logo-hlink {
     display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-h {
  width: 40px;
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

.top-bar {
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.top-bar .navigation {
    display: flex;
    margin: 0 0 0 150px;
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
}

.top-bar .navigation ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.top-bar .navigation ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.top-bar .navigation ul li a {
    text-decoration: none;
    color: #777;
    font-size: 16px;
    padding: 0 20px;
}

.top-bar .navigation ul li a:hover{
	color: #333;
}

.contact-nav{
    padding: 0;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cart-icon,
.profile-icon {
    display: inline-block;
    /* Add icon styling, such as icon images or font icons */
}

.svg-icon {
  transform: scale(0.5);
}

.profile-name {
  text-decoration: none;
  color: #777;
  margin-right: 10px;
}

.profile-name:hover{
  color:#333;
}

/*carousel of images styling*/

.carousel {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel .slide.active {
  opacity: 1;
}

.carousel .slide:first-child {
  opacity: 1;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicators li.active {
  background-color: black;
}

/*service section styling*/
#services-desc {
  margin: 0 200px;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 100px;
}

.service-item {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  text-align: center;
  overflow: hidden;
}

.service-item img {
    object-fit: cover;
  width: 320px;
  height:320px;
  margin-top: 30px;
}

.service-title {
  margin: 10px 20px 5px 20px;
  text-align: left;
}

.service-details {
    margin-top: 0;
    margin-bottom: 0;
    margin: 0 20px;
    text-align: left;
}

.services-info {
    padding: 10px;
    margin: 10px;
    text-align: left;
}

/*middle horizontal line*/
.mid-hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 40px 20px;
}

/*collection section styling*/
#collection-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item {
  overflow: hidden;
  padding: 0 13px;
}
#collection-container .product-item img {
  width: 100px;
  height: 100px;
  margin: 0 30px;
  object-fit: cover;
}

.product-info {
  margin: 0 30px;
}

.product-link {
  text-decoration:none;
  color: black;
}

/*footer styling*/
footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.footer-logo {
  margin-bottom: 20px;
}

.logo-f {
  width: 40px;
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

.footer-navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-navigation ul li {
  display: inline-block;
  margin-right: 15px;
}

.footer-navigation ul li a {
  text-decoration: ;
  color: #333;
}

.footer-hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-social-media {
	align-self: flex-end;
}
.footer-social-media ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-social-media ul li {
  display: inline-block;
  padding: 0;
  margin-left: px;
}

.footer-social-media ul li a {
  text-decoration: none;
  color: #333;
  margin: 0;
}

.footer-social {
  transform: scale(0.5);
}

.footer-copyright {
  align-self: center;
  font-size: 12px;
  padding: 0;
  margin: 0 0 0 160px;
  color: #777;
}